*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Montserrat;
    
}

a{
    font-size: 25px;
}



header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    


    &__logo{
        
        color: rgba(37, 43, 66, 1);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        user-select: none;
        


    }

    &__links{
        display: flex;
        gap: 2rem;
        font-weight: 700;
        

        a{
            font-size: 20px;
            color: rgba(115, 115, 115, 1);

        }
    }

    &__login{
        display: flex;
        
        &-content{
            display: flex;
            gap: 4rem;

            &-text{
                display: flex;
                align-items: center;

                a{
                    font-weight: 600;
                    color: rgba(35, 166, 240, 1);

                }
                
            }

            &-member{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                background: rgba(35, 166, 240, 1);
                color: white;
                padding: 0.5rem 1rem;
                border: none;
                outline: none;
                border-radius: 1px;
                font-weight: 700;
                cursor: pointer;
                transition: scale 0.2 ease;

                a{
                    font-size: 30px;
                    color: white;
                }
            }

            &-member a:hover{
                scale: 1.05s;
                color: white;
                
            }

            &-member:active{
                scale: 0.95;
            }

        }

        
    }

    &__icons{
        color: red;
        cursor: pointer;
        display: none;
    }

    
    
}

.dropdown__main{
    
    display: none;
}

// Responsive Design

@media all and (max-width:1200px) {
    .navbar__links,
    .navbar__login,
    .navbar__icons
    {
        display: none;
    }

    .navbar{
        background: rgba(246, 246, 246, 1);
    }

    .navbar__icons{
        display: block;
        
    }

    .dropdown__main{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;

       &-menu a{
         color: rgba(115, 115, 115, 1);
         line-height: 40px;
         font-weight: 400;

       }
    }

    .navbar__icons{
        display: flex;
        ul{
            display: flex;
            
            li{
                padding-right: 30px;
                font-size: 30px;
                color: rgba(115, 115, 115, 1);
            }
        }
    }

    
}



// dropdown menu



.dropdown__main{
    background: rgba(246, 246, 246, 1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;

    li{
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}